<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>
    <video autoplay id='cameraVideo' style="width: 300px;height: 300px;border: 1px solid #ccc;"></video>
</body>

</html>
<script>
    var video = $("#cameraVideo").get(0)
    var cameraSuccess = function (stream) {
        console.log('摄像头开启成功' + stream)
        try {
            video.srcObject = stream;

        } catch (error) {
            video.src = window.URL.createObjectURL(stream);
        }
    }
    var cameraError = (error) => {
        alert('调用失败')
    }
    navigator.getUserMedia({ video: true, audio: false }, cameraSuccess, cameraError)
</script>