<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
</head>

<body>
    <h1 style="font-size: 50px;margin: 30px;font-family: 华文细黑">Cyber创客空间信息统计</h1>
    <div>
        <div class="desktop-rack ">
            <div class="desktop-rack-item" style="display: inline-block;float: left">
                <i class="layui-icon" style="display: block; font-size: 50px">&#xe770;</i>
                <span>创客空间人员统计</span>
            </div>
            <p id="allStu" class="desktop-text"
                style="font-size:40px;float:left;margin-top: 30px;width: 180px;height: 110px;text-align: center;color: #5FB878">
                -1人</p>
        </div>
        <div class="desktop-rack ">
            <div class="desktop-rack-item" style="display: inline-block;float: left">
                <i class="layui-icon" style="display: block; font-size: 50px">&#xe656;</i>
                <span>竞赛获奖作品统计</span>
            </div>
            <p id="allAward" class="desktop-text"
                style="font-size:40px;float:left;margin-top: 30px;width: 180px;height: 110px;text-align: center;color: #5FB878">
                -1人</p>
        </div>
        <div class="desktop-rack ">
            <div class="desktop-rack-item" style="display: inline-block;float: left">
                <i class="layui-icon" style="display: block; font-size: 50px">&#xe60a;</i>
                <span>学生成果统计</span>
            </div>
            <p id="allResult" class="desktop-text"
                style="font-size:40px;float:left;margin-top: 30px;width: 180px;height: 110px;text-align: center;color: #5FB878">
                -1人</p>
        </div>
        <div class="desktop-rack ">
            <div class="desktop-rack-item" style="display: inline-block;float: left">
                <i class="layui-icon" style="display: block; font-size: 50px">&#xe612;</i>
                <span>个人项目统计</span>
            </div>
            <p id="allPro" class="desktop-text"
                style="font-size:40px;float:left;margin-top: 30px;width: 180px;height: 110px;text-align: center;color: #5FB878">
                -1人</p>
        </div>
    </div>
    <script src="../config.js"></script>
    <script>
        $.get(getHost() + "/count_index", {
        }, function (data, status) {
            if (data.code == 0) {
                $('#allStu').text(data.countUser + '人');
                $('#allAward').text(data.countStudentOutcomes + '项');
                $('#allResult').text(data.countProjectsUndertaken + '项');
                $('#allPro').text(data.countPrizeWinningWork + '项');
            }

        }).error(function (data) {
            // layer.msg('请检查网络后重试');
        });
    </script>
</body>

</html>