<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Layui</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport"
		content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="stylesheet" href="../../css/font.css">
	<link rel="stylesheet" href="../../css/xadmin.css">
	<script src="../../lib/layui/layui.js" charset="utf-8"></script>
	<script type="text/javascript" src="../../js/xadmin.js"></script>
	<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>
	<table class="layui-hide" id="demo" lay-filter="test"></table>

	<script type="text/html" id="barDemo">
			<!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
	<!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a> -->
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	</script>

	<table class="layui-hide" id="demo" lay-filter="test"></table>

	<script src="../../config.js" type="text/javascript" charset="utf-8"></script>
	<script>
		layui.config({
			version: '1615206508080' //为了更新 js 缓存，可忽略
		});

		layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {

			var laydate = layui.laydate //日期
				,
				laypage = layui.laypage //分页
				,
				layer = layui.layer //弹层
				,

				table = layui.table //表格
				,
				carousel = layui.carousel //轮播
				,
				upload = layui.upload //上传
				,
				element = layui.element //元素操作
				,
				slider = layui.slider //滑块
			//监听Tab切换
			element.on('tab(demo)', function (data) {
				console.log(data)
				layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
					tips: 1
				});
			});
			renderData();

			function renderData() {
				//执行一个 table 实例
				table.render({
					elem: '#demo',
					// height: 420,
					url: getHost() + '/get_projects_undertaken', //数据接口
					// url: 'date_test.json',
					title: '用户表',
					toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
					cellMinWidth: 80, //全局定义所有常规单元格最小宽度,
					cols: [
						[{
							type: 'checkbox',
							fixed: 'left'
						}, {
							field: 'id',
							title: 'ID',
							fixed: 'left',
							unresize: true,
							sort: true,
							align: 'center'
						}, {
							field: 'hostName',
							title: '主持人名称',
							edit: 'text',
							sort: true,
							align: 'center'
						}, {
							field: 'projectName',
							title: '项目名称',
							edit: 'text',
							sort: true,
							align: 'center'
						}, {
							field: 'cooperationCompany',
							title: '合作单位',
							sort: true,
							edit: 'text',
							totalRow: true,
							align: 'center'
						}, {
							field: 'money',
							title: '资金',
							edit: 'text',
							sort: true,
							align: 'center'
						}, {
							field: 'executionTime',
							title: '执行年度',
							sort: true,
							edit: 'text',
							totalRow: true,
							align: 'center'
						}, {
							fixed: 'right',
							title: '操作',
							toolbar: '#barDemo',
							align: 'center'
						}]
					],
					page: true, //开启分页
				});
			}

			//监听头工具栏事件
			table.on('toolbar(test)', function (obj) {
				var checkStatus = table.checkStatus(obj.config.id),
					data = checkStatus.data; //获取选中的数据
				switch (obj.event) {
					case 'add':
						setTop();
						break;
					case 'update':
						layer.alert('请单击表格，修改对应信息');
						/* if (data.length === 0) {
							layer.msg('请选择一行');
						} else if (data.length > 1) {
							layer.msg('只能同时编辑一个');
						} else {
							layer.alert('请单击表格，修改对应信息');
						} */
						break;
					case 'delete':
						if (data.length === 0) {
							layer.msg('请选择一行');
						} else {
							layer.confirm('确定删除选中的数据吗？', {
								icon: 3,
								title: '提示信息'
							}, function (index) {
								//layui中找到CheckBox所在的行，并遍历找到行的顺序
								$('div.layui-table-body table tbody input[name="layTableCheckbox"]:checked')
									.each(function () {
										var ids = "";
										for (var i = 0; i < data.length; i++) {
											if (i == data.length - 1) {
												ids += data[i].id
											} else {
												ids += data[i].id + ",";
											}
										}
										// 遍历选中的checkbox
										n = $(this).parents('tbody tr')
											.index() // 获取checkbox所在行的顺序
										//移除行
										$('div.layui-table-body table tbody ')
											.find('tr:eq(' +
												n + ')').remove()
										//如果是全选移除，就将全选CheckBox还原为未选中状态
										$('div.layui-table-header table thead div.layui-unselect.layui-form-checkbox')
											.removeClass('layui-form-checked')

										$.post(getHost() + "/delete_all_projects_undertaken", {
											deleteData: ids
										},
											function (data, status) {
												if (data.code == 0) {
													layer.msg("删除成功");
												} else {
													layer.msg("已经删除，请刷新页面");
												}
											}).error(function () {
												layer.msg("请检查网络后重试");
											});
									})
								layer.close(index)
							})


						}
						break;
				};
			});
			// 添加弹窗
			function setTop() {
				var that = this;
				//多窗口模式，层叠置顶
				layer.open({
					type: 2 //此处以iframe举例
					,
					title: '添加数据',
					skin: 'layui-layer-rim',
					area: ['600px', '500px'],
					shade: 0,
					maxmin: true,
					end: function () {
						// 弹窗关闭，刷新数据
						renderData();
					},
					content: '../edit/pro-list-item.html',
					// btn: ['提交', '关闭'] //只是为了演示
					yes: function () {
						$(that).click();
					},
					btn2: function () {
						layer.closeAll();
					}

					,
					zIndex: layer.zIndex //重点1
					,
					success: function (layero) {
						layer.setTop(layero); //重点2
					}
				});
			}
			//监听行工具事件
			table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				var data = obj.data, // 获得当前行数据
					layEvent = obj.event; //获得 lay-event 对应的值
				if (layEvent === 'detail') {
					layer.msg('查看操作');
				} else if (layEvent === 'del') {
					layer.confirm('真的删除行么', function (index) {
						obj.del(); //删除对应行（tr）的DOM结构
						layer.close(index);
						//向服务端发送删除指令
						$.post(getHost() + "/delete_projects_undertaken", {
							id: data.id
						}, function (data, status) {
							layer.msg('删除成功');
						}).error(function () {
							layer.msg("请检查网络后重试");
						});
					});
				} else if (layEvent === 'edit') {
					layer.msg('编辑操作');
				}
			});

			//监听单元格编辑
			table.on('edit(test)', function (obj) {
				var value = obj.value //得到修改后的值
					,
					data = obj.data //得到所在行所有键值
					,
					field = obj.field; //得到字段
				layer.msg('[ID: ' + data.id + '] ' + field + ' 字段更改为：' + value);
				$.post(getHost() + "/update_projects_undertaken", {
					column: field,
					tarValue: value,
					id: data.id
				}, function (data, status) {
					layer.msg("Data: " + data + "\nStatus: " + status);
				}).error(function () {
					layer.msg("请检查网络后重试");
				});
			});
			//分页
			laypage.render({
				elem: '#test', //分页容器的id

				count: 100, //总页数

				skin: '#1E9FFF', //自定义选中色值
				//,skip: true //开启跳页

				jump: function (obj, first) {
					if (!first) {
						layer.msg('第' + obj.curr + '页', {
							offset: 'b'
						});
					}
				}
			});

		});
	</script>
</body>

</html>