<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>考试页面</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script src="../../js/jquery.min.js"></script>
    <script src="../../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../js/xadmin.js"></script>
</head>

<body style="background: #fff;">
<script id="optionTpl" type="text/html">
    <p style="color: red">总分：{{ d.sum_score }}</p>
    {{# layui.each(d.data,function(index, item){ }}
    <table class="layui-table" style="margin-top: 20px;">
        <thead>
            <tr>
                <th>{{ index+1 }}</th>
                <th>{{ item.subject_name }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>题目类型：</td>
                <td>{{ item.subject_type }}</td>
            </tr>
            <tr>
                <td>用户答案：</td>
                <td>{{ item.user_subject_answer }}</td>
            </tr>

            <tr>
                <td>试题分数：</td>
                <td>{{ item.score }}</td>
            </tr>
            <tr>
                <td>自动评分：</td>
                <td>{{ item.auto_score }}</td>
            </tr>
        </tbody>
    </table>
    {{# }); }}
</script>
<div id="view"></div>
</div>
</body>
<script src="../../config.js"></script>
<script src="../../js/utils.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['form', 'laytpl'], function () {
        var form = layui.form,
            laytpl = layui.laytpl
        let shijuanpk = requestParameter()["shijuanpk"]
        // 题目数据
        myRequest(
            "/courses/list_stu_answer_subject", "post", {pk: shijuanpk}, function (data) {
                const getTpl = optionTpl.innerHTML
                const view = document.getElementById('view');
                laytpl(getTpl).render(data, function (html) {
                    view.innerHTML = html;
                });
                form.render();
            }
        )
    });
</script>
</html>